@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NGLayout.cshtml";
}

<html>
<head>
  @Html.Partial("~/Views/Shared/_NGStyles.cshtml")
  @Html.Partial("~/Views/Shared/_NGScripts.cshtml")
</head>
<body>
  @Html.Partial("~/Views/Shared/_NGMenu.cshtml")
</body>
</html>