<h3>
  Billing Details
  <small><i class="fa fa-pencil orangeHover" id="edit" data-toggle="tooltip" data-placement="right" title="Edit" ng-click="vm.editOrder()"></i></small>
  <i class="fa fa-trash-o fa-3x trashIcon redHover text-asbestos" id="delete" data-toggle="tooltip" data-placement="bottom" title="Cancel" ng-click="vm.cancelOrder()" ng-show="vm.editingOrder"></i>
  <i class="fa fa-save fa-3x saveIcon orangeHover text-asbestos" id="save" data-toggle="tooltip" data-placement="bottom" title="Save" ng-click="vm.saveOrder()" ng-show="vm.editingOrder"></i>

  <div ng-show="!vm.editingOrder" class="btn-group pull-right">
    <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">Billing Actions <i class="fa fa-caret-down"></i></button>
    <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
      <li><a href="javascript:;" ng-click="vm.cancelBilling()">Cancel Billing</a></li>
    </ul>
  </div>
</h3>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Rate Information</h3>
    </div>
    <div class="panel-body">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th class="text-center" ng-repeat="rates in vm.billingRates">
                {{rates.Type}}<br />{{rates.Term}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><strong>Effective Date</strong></td>
              <td class="text-center" ng-repeat="rates in vm.billingRates" ng-if="vm.billingRate == 'current'">
                {{rates.CurrentRate.Month}}<br />{{rates.CurrentRate.Year}}
              </td>
              <td class="text-center" ng-repeat="rates in vm.billingRates" ng-if="vm.billingRate == 'previous'">
                {{rates.PreviousRate.Month}}<br />{{rates.PreviousRate.Year}}
              </td>
            </tr>
            <tr>
              <td class="text-center"><strong>Rate</strong></td>
              <td class="text-center" ng-repeat="rates in vm.billingRates" ng-if="vm.billingRate == 'current'">
                ${{rates.CurrentRate.Rate}}
              </td>
              <td class="text-center" ng-repeat="rates in vm.billingRates" ng-if="vm.billingRate == 'previous'">
                ${{rates.PreviousRate.Rate}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-class="{active: vm.billingRate == 'previous'}" ng-click="vm.usePreviousBillingRate()">Previous Rate</button>
          <button type="button" class="btn btn-default" ng-class="{active: vm.billingRate == 'current'}" ng-click="vm.useCurrentBillingRate()">Current Rate</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Billing Fields</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-repeat="component in vm.selectedOrder.Configuration">
              <label class="col-sm-5">{{component.Type}} Cost</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="vm.costList[$index]" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5">Insurance</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="vm.insurance" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5">Warranty/Shipping</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="vm.warrantyOrShipping" />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4">Begin Bill Date</label>
              <div class="col-sm-8">
                <edit-date ng-model="vm.beginBillDate" start-day="1"></edit-date>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4">Billing Notes</label>
              <div class="col-sm-8">
                <textarea class="form-control" rows="3" ng-model="vm.billingNotes"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4">Suppress Email</label>
              <div class="col-sm-8">
                <label class="checkbox vertical-center">
                  <checkbox ng-model="vm.suppressEmail"></checkbox>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-5"></label>
              <div class="col-sm-7">
                <button type="button" class="btn btn-default" ng-click="vm.processBilling()">Process for Billing</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Order Information</h3>
    </div>

    <div class="panel-body" ng-if="!vm.billingSummary">
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">Statement Name</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.selectedOrder.SystemGroups[vm.billingIndex].StatementName}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">Term</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.selectedOrder.SystemGroups[vm.billingIndex].Term}}</p>
        </div>
      </div>

      <div class="pagination">
        <ul>
          <li class="previous cursor-pointer">
            <a class="fui-arrow-left" ng-click="vm.decrementBillingIndex()"></a>
          </li>
          <li ng-class="{active: $index == vm.billingIndex}" ng-repeat="system in vm.selectedOrder.SystemGroups" ng-click="vm.setBillingIndex($index)"><a>{{$index + 1}}</a></li>
          <li class="next cursor-pointer">
            <a class="fui-arrow-right" ng-click="vm.incrementBillingIndex()"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel-body" ng-if="vm.billingSummary">
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">Statement Name</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.billingSummary[vm.billingIndex].StatementName}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">Term</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.billingSummary[vm.billingIndex].Term}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">Begin Bill Date</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.billingSummary[vm.billingIndex].BeginBillDate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">End Bill Date</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.billingSummary[vm.billingIndex].EndBillDate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="text-silver">Total Monthly Charge</p>
        </div>
        <div class="col-md-4">
          <p class="text-asbestos">{{vm.billingSummary[vm.billingIndex].TotalMonthlyCharge}}</p>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="component in vm.billingSummary[vm.billingIndex].Components"><type-icon component="component.Type" class="fa-4x"></type-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Make</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.Make}}</td>
          </tr>
          <tr>
            <td>Model</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.Model}}</td>
          </tr>
          <tr>
            <td>Leasing Rate</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.LeasingRate}}</td>
          </tr>
          <tr>
            <td>Monthly Charge</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.MonthlyCharge}}</td>
          </tr>
          <tr>
            <td>Overhead Rate</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.OverheadRate}}</td>
          </tr>
          <tr>
            <td>Secondary Costs</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.SecondaryCosts}}</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.Tax}}</td>
          </tr>
          <tr>
            <td>Unit Cost</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.UnitCost}}</td>
          </tr>
          <tr>
            <td>Vendor Rate</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.VendorRate}}</td>
          </tr>
          <tr>
            <td>Vendor Insurance Rate</td>
            <td ng-repeat="component in vm.billingSummary[vm.billingIndex].Components">{{component.VendorInsuranceRate}}</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <ul>
          <li class="previous cursor-pointer">
            <a class="fui-arrow-left" ng-click="vm.decrementBillingIndex()"></a>
          </li>
          <li ng-class="{active: $index == vm.billingIndex}" ng-repeat="system in vm.selectedOrder.SystemGroups" ng-click="vm.setBillingIndex($index)"><a>{{$index + 1}}</a></li>
          <li class="next cursor-pointer">
            <a class="fui-arrow-right" ng-click="vm.incrementBillingIndex()"></a>
          </li>
        </ul>
      </div>

      <br />

    </div>

  </div>

  <div class="col-sm-4 col-md-offset-4" ng-if="vm.billingSummary">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.confirmBilling()">Confirm Billing</button>
  </div>
</div>