@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NGLayout.cshtml";
}
<!DOCTYPE html>
<html ng-app="SROrders">
<head>
  <title>Prebilling</title>

  @Html.Partial("~/Views/Shared/_NGStyles.cshtml")
  @Html.Partial("~/Views/Shared/_NGScripts.cshtml")
  <script type="text/javascript">
    angular.module("SROrders", ["bfApp", "ngRoute"]).constant('rootUrl', "@Url.Content("~/")");
  </script>
  
</head>
<body>

  @Html.Partial("~/Views/Shared/_NGMenu.cshtml")
    
  <div class="container-fluid" ng-controller="NGSRController as vm">
    <div class="row">
      <div class="col-xs-12 col-sm-3 sidebar">
        <div class="list-group" style="margin:0 -1.5em;">
          <div class="list-group-item">
            <div class="form-group" style="margin-bottom:0;">
              <input type="text" class="form-control" ng-model="vm.searchTerm" />
              <span class="form-control-feedback"><i class="fa fa-search"></i></span>
            </div>
          </div>

          <div ng-repeat="order in filtered = (vm.orders | searchOrdersByPO:vm.searchTerm)">
            <a href="" class="list-group-item" ng-click="vm.setSelectedOrder(order, $index)" ng-class="{active: $index == vm.indexForFiltered()}">
              <h4 class="list-group-item-heading">
                {{ order.SR }} <span class="badge">{{order.SystemGroups.length}}</span>
                <span ng-class="{'hidden': vm.cart.indexOf(order) == -1}"><i class="fa fa-check"></i></span>
                <small ng-class="{'text-wet-asphalt': vm.orderHasAllSerials(order)}">
                  <span ng-repeat="component in order.Configuration">
                    <i ng-if="component.Type == 'Laptop'" class="fa fa-laptop"></i>
                    <i ng-if="component.Type == 'CPU'" class="fa fa-hdd-o"></i>
                    <i ng-if="component.Type == 'Monitor'" class="fa fa-desktop"></i>
                  </span>
                </small>
              </h4>
              <p class="list-group-item-text">
                {{ order.Summary }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 main" ng-show="vm.selectedOrder">
         

        <ng-view></ng-view>

        <div class="col-lg-12" ng-show="selectedSystem">
          <hr />
          <h3>System Details for {{selectedSystem.StatementName}}</h3>


          <div class="col-lg-4" ng-repeat="comp in selectedSystem.Components">
            <div class="panel panel-default panel-primary">
              <div class="panel-heading">
                {{comp.Type}}
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td style="width:50%;">Serial Number</td>
                      <td style="width:50%;">{{comp.SerialNumber}}</td>
                    </tr>
                    <tr>
                      <td>Lease Tag</td>
                      <td>{{comp.LeaseTag}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <hr />
          </div>

          <div class="col-lg-4" ng-repeat="EOLComp in selectedSystem.EOLComponents">
            <div class="panel panel-default">
              <div class="panel-heading">
                EOL {{EOLComp.Type}}
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td style="width:50%;">Serial Number</td>
                      <td style="width:50%;">{{EOLComp.SerialNumber}}</td>
                    </tr>
                    <tr>
                      <td>Lease Tag</td>
                      <td>{{EOLComp.LeaseTag}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-4" ng-if="editingOrder && selectedSystem.EOLComponents.length < 3">
            <div class="panel panel-default">
              <div class="panel-heading">Add EOL Component</div>
              <div class="panel-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter Serial Number or Lease Tag" ng-model="addEOLSystem.text" ng-enter="FindEOLSystem()" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="vm.FindEOLSystem()"><i class="fa fa-plus-square-o"></i> Add System</button>
                  </span>
                </div>
                <hr />
                <button type="button" class="btn btn-default" ng-click="vm.AddEOL()">
                  <i class="fa fa-plus-square-o"></i> Add Single EOL Component
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <script src="~/Scripts/NG/ordersByPO/ordersController.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#edit").tooltip();
      $("#save").tooltip();
      $("#delete").tooltip();
    });
  </script>
</body>

</html>