@{
    ViewBag.Title = "EditorChanged";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Here is the form!</h2>
        @Html.Raw(ViewBag.HTML)
    </div>
</div>