@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_NGLayout.cshtml";
}
<!DOCTYPE html>
<html ng-app="Orders">
<head>
  <title>New Orders</title>
  @Html.Partial("~/Views/Shared/_NGStyles.cshtml")
  @Html.Partial("~/Views/Shared/_NGScripts.cshtml")
  <script type="text/javascript">
    angular.module("Orders", ["bfApp", "ngRoute"]).constant('rootUrl', "@Url.Content("~/")");
  </script>
</head>
<body>
  @Html.Partial("~/Views/Shared/_NGMenu.cshtml")

  <div class="container-fluid" ng-controller="OrdersController as vm">
    <div class="row">
      <div id="sidebar" class="col-xs-12 col-md-3 sidebar">
        <div class="list-group" style="margin:0 -25px;">

          <div class="list-group-item">
            <div class="form-group" style="margin-bottom:0;">
              <input type="text" class="form-control" ng-model="vm.searchTerm" />
              <span class="form-control-feedback"><i class="fa fa-search"></i></span>
            </div>
          </div>

          <a href="" class="list-group-item" ng-click="vm.createNewOrder()">
            <h4 class="list-group-item-heading"><i class="fa fa-plus-square-o fa-lg"></i> Create a New Order</h4>
          </a>


          <div ng-repeat="order in filtered = (vm.orders | searchOrders:vm.searchTerm)">
            <a href="" class="list-group-item" ng-click="vm.setSelectedOrder(order, $index)" ng-class="{active: $index == vm.indexForFiltered()}">
              <h4 class="list-group-item-heading">
                {{ order.OrdererGID }} <span class="badge">{{order.Components.length}}</span> <small ng-if="angular.isDefined(order.Notes) && order.Notes.length > 3">*</small>
                <span ng-class="{hidden: vm.cart.indexOf(order.id) == -1}"><i class="fa fa-check"></i></span>
                <small>
                  <span ng-repeat="component in vm.order.Configuration">
                    <type-icon component="component.Type" class="text-concrete"></type-icon>
                  </span>
                </small>
              </h4>
              <p class="list-group-item-text">
                {{ order.Summary }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="toggleSidebar" class="hidden-sm hidden-xs"><i class="fa fa-caret-square-o-left" ng-click="vm.toggleSidebar()"></i></div>

    <div class="row">
      <div id="cartBar" class="col-xs-12 col-md-9 col-md-offset-3 main" ng-show="vm.cart.length > 0" style="background-color:black;">
        <div class="col-md-1">
          <i class="fa fa-shopping-cart fa-inverse fa-2x fa-fw"></i>
        </div>
        <div class="col-md-5">
          <div class="col-md-9">
            <input class="form-control" type="text" ng-model="vm.newSR" />
          </div>
          <div class="col-md-2">
            <button class="btn btn-info" type="button" ng-if="vm.newSR.length < 5" ng-click="vm.generateSR()">Auto-Generate</button>
            <button class="btn btn-success" type="button" ng-if="vm.newSR.length >= 5" ng-click="vm.submitCart()">Submit</button>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div>
            <label class="text-clouds">{{vm.cart.length}}(s) orders in SR</label>
          </div>
        </div>
        <div class="col-md-1 pull-right">
          <button class="btn btn-danger" type="button" ng-click="vm.clearCart()">Cancel</button>
        </div>

      </div>



      <div id="mainContent" class="col-xs-12 col-md-9 col-md-offset-3 main" ng-show="vm.selectedOrder">
        <h3>
          Order Details
          <small><i class="fa fa-pencil orangeHover" id="edit" data-toggle="tooltip" data-placement="right" title="Edit" ng-click="vm.editOrder()"></i></small>
          <i class="fa fa-trash-o fa-3x trashIcon redHover text-asbestos" id="delete" data-toggle="tooltip" data-placement="bottom" title="Cancel" ng-click="vm.cancelOrder()" ng-show="vm.editingOrder"></i>
          <i class="fa fa-save fa-3x saveIcon orangeHover text-asbestos" id="save" data-toggle="tooltip" data-placement="bottom" title="Save" ng-click="vm.saveOrder()" ng-show="vm.editingOrder"></i>

          <div ng-show="!vm.editingOrder" class="btn-group pull-right">
            <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">Order Actions <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
              <li><a href="javascript:;" ng-click="vm.editOrder()">Edit Order</a></li>
              <li><a href="javascript:;" ng-click="vm.addToCart(vm.selectedOrder)">Add to New SR</a></li>
              <li><a href="javascript:;" ng-click="vm.deleteOrder()">Delete Order</a></li>
            </ul>
          </div>
        </h3>


        <div class="col-md-12">
          <hr />
          <ng-view></ng-view>
        </div>
      </div>

    </div>
  </div>

  <script src="~/Scripts/NG/orders/ordersController.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#edit").tooltip();
      $("#save").tooltip();
      $("#delete").tooltip();
    });
  </script>
</body>
</html>