<h4><small><a style="cursor: pointer;" class="text-asbestos" ng-click="vm.backToMain()"><i class="fa fa-long-arrow-left"></i> Back To Systems</a></small></h4>

<div class="row">
  <div class="col-md-3">
    <p class="text-silver">Statement Name</p>
  </div>
  <div class="col-md-4">
    <edit-input editing="vm.editingOrder" ng-model="vm.selectedSystem.StatementName"></edit-input>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">GID</p>
  </div>
  <div class="col-md-4">
    <edit-input editing="vm.editingOrder" ng-model="vm.selectedSystem.GID"></edit-input>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">Department Name</p>
  </div>
  <div class="col-md-4">
    <edit-input editing="vm.editingOrder" ng-model="vm.selectedSystem.DepartmentName"></edit-input>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">FOP</p>
  </div>
  <div class="col-md-4">
    <edit-input editing="vm.editingOrder" ng-model="vm.selectedSystem.FOP"></edit-input>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">RateLevel</p>
  </div>
  <div class="col-md-4">
    <edit-input editing="vm.editingOrder" ng-model="vm.selectedSystem.RateLevel"></edit-input>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">Term</p>
  </div>
  <div class="col-md-4">
    <edit-input editing="vm.editingOrder" ng-model="vm.selectedSystem.Term"></edit-input>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">Install Hardware</p>
  </div>
  <div class="col-md-1">
    <edit-checkbox editing="vm.editingOrder" ng-model="vm.selectedSystem.InstallHardware"></edit-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">Install Software</p>
  </div>
  <div class="col-md-1">
    <edit-checkbox editing="vm.editingOrder" ng-model="vm.selectedSystem.InstallSoftware"></edit-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="text-silver">Renewal</p>
  </div>
  <div class="col-md-1">
    <edit-checkbox editing="vm.editingOrder" ng-model="vm.selectedSystem.Renewal"></edit-checkbox>
  </div>
</div>