@{
    ViewBag.Title = "Create New Email";
}

@section extras {
	<link href="~/Content/bootstrap-forms.css" rel="stylesheet" />
	<link href="~/Content/Dashboard/bootstrap-button.css" rel="stylesheet" />
}

<br />
<div class="container">
	<div class="row">
		<div class="span5 offset3 well">
@using (Html.BeginForm("SubmitEmail", "Email", FormMethod.Post, new { @class = "form-horizontal" }))
{
	<fieldset>
		<legend>Create New Email</legend>
		<div class="control-group">
			<label class="control-label">Email Address</label>
			<div class="controls">
				<input type="text" name="email" id="email" placeholder="Email Address" />
			</div>
		</div>
		<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large">Create Task</button>
						</div>
					</div>
	</fieldset> 
}
			</div>
		</div>
	</div>