@{
    ViewBag.Title = "Upload";
}

<h1>BEN SAYS "NOOOOOOOO USE THE NEW WAY!!!!!"</h1>
@using (Html.BeginForm("FillSN", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
		<input type="file" name="FileUpload1" /><br />
		<input type="submit" name="Submit" id="Submit" value="Upload" disabled />
	}



@if (ViewBag.Errors != null)
{
<ul>
@foreach (var error in ViewBag.Errors as List<String>)
{
    <li>@error</li>
}
</ul>
}