<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navToggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navToggle">
      <ul class="nav navbar-nav">
        <li><a href="@Url.Content("~/")Home/">Old Database</a></li>
        <li><a href="@Url.Content("~/")NGRepair/">Repairs</a></li>
        <li><a href="@Url.Content("~/")NGScan/">Scan</a></li>
      </ul>
    </div>
</nav>