@{
  Layout = "~/Views/Shared/_NGLayout.cshtml";
}

<!DOCTYPE html>
<html ng-app="billingCoordinator">
<head>
  <title>Billing Coordinator</title>

  @Html.Partial("~/Views/Shared/_NGStyles.cshtml")
  @Html.Partial("~/Views/Shared/_NGScripts.cshtml")
  <script type="text/javascript">
    angular.module("billingCoordinator", ["bfApp", "ngRoute"]).constant('rootUrl', "@Url.Content("~/")");
  </script>

</head>
<body>

  @Html.Partial("~/Views/Shared/_NGMenu.cshtml")

  <div class="container-fluid" ng-controller="billingCoordinatorController as vm">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <h3 class="text-center"><i class="fa fa-user-plus fa-2x"></i></h3>
              <h3 class="text-center">Billing Coordinators</h3>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="lead text-center">Search for billing coordinators by GID or by FOP.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <input type="text" class="form-control" ng-model="vm.searchTerm" />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3 col-sm-offset-2">
                <p class="text-asbestos text-center">Search By:</p>
              </div>

              <div class="col-sm-5">
                <label class="radio">
                  <input type="radio" name="radio1" class="custom-radio" data-toggle="radio" ng-click="vm.setSearchByFOP()"/> Search By FOP
                </label>
                <label class="radio">
                  <input type="radio" name="radio1" class="custom-radio" data-toggle="radio" ng-click="vm.setSearchByGID()"/> Search By GID
                </label>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <button type="button" class="btn btn-primary btn-block btn-hg" ng-click="vm.startSearch()">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <ng-view></ng-view>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="~/Scripts/NG/billingCoordinator/billingCoordinatorController.js"></script>
  <script type="text/javascript">
    $(":radio").radiocheck();
  </script>
</body>

</html>